.login {
    width: 100%;
    height: 100%;
}

.login .image {
    display: grid;
    align-items: center;
    background-image: url('../../../../assets/images/bg.jpg');
    background-position: center;
    background-size: cover; 
}

@media (min-width: 992px) {
    .login .image {
        height: 100vh;
    }
}

.login .logo {
    background: white;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
    border-radius: 5em;
    font-size: 1.5em;
    font-weight: bold;
    display: grid;
    align-items: center;
    text-align: center;
    width: 120px;
    height: 120px;
    margin: 0 auto 0;
    padding: 1em;
}

.login .content {
    background: white;
    padding: 4em 3em 2em 3em;
    min-width: 320px;
}