<div class="card">
    <table class="table mb-0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody *ngIf="events.length > 0">
            <tr *ngFor="let event of events">
                <td>{{ event.name }}</td>
                <td>{{ event.description }}</td>
                <td></td>
                <td>
                    <a [routerLink]="'edit/' + event.id">Edit</a> | 
                    <a [routerLink]="'attendance/' + event.id">Attendance</a> | 
                    <a [routerLink]="'register/' + event.id">Register</a>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="events.length == 0">
            <tr>
                <td colspan="4">No events yet</td>
            </tr>
        </tbody>
    </table>
</div>