<div class="card mb-3">
    <div class="card-header" i18n>Event info</div>
    <div class="card-body">
        <p class="card-title">
            <small class="text-secondary" i18n>Name: </small>
            <span class="h5">{{ event.name }}</span>
        </p>
        <p class="mb-0">
            <small class="text-secondary" i18n>Description: </small>
            {{ event.description }}
        </p>
    </div>
</div>
<div class="card">
    <table class="table table-bordered mb-0">
        <thead>
            <tr>
                <th style="background: none;"></th>
                <th *ngFor="let time of event.eventTimes" class="text-center">
                    {{ time.timeStart | date: 'short' }}
                </th>
            </tr>
        </thead>
        <tbody *ngIf="event.eventInvitations.length> 0">
            <tr>
                <td class="text-center" colspan="100%">Invited users</td>
            </tr>
            <tr *ngFor="let invitation of event.eventInvitations">
                <td>{{ invitation.user.userName }}</td>
                <td *ngFor="let time of event.eventTimes" class="pointer"
                    [class.bg-success]="time.attendance[invitation.user.id] ==
                    attendanceConst.VISIT"
                    [class.bg-secondary]="!time.attendance[invitation.user.id]"
                    (click)="changeInvitationAttendance(time, invitation.user)"></td>
            </tr>
        </tbody>

        <tbody>
            <tr *ngIf="event.eventInvitations.length> 0 && attendanceUsers.length> 0">
                <td class="text-center" colspan="100%">Other users</td>
            </tr>
            <tr *ngFor="let attendanceUser of attendanceUsers">
                <td class="d-flex justify-content-between">
                    {{ attendanceUser.user.userName }}
                    <fa-icon class="icon pointer" [icon]="icons.faClose"
                        (click)="removeYourself(attendanceUser)"></fa-icon>
                </td>
                <td *ngFor="let time of event.eventTimes" class="pointer"
                    [class.bg-success]="attendanceUser.userEventTimes[time.id]"
                    [class.bg-secondary]="!attendanceUser.userEventTimes[time.id]"
                    (click)="changeAttendance(attendanceUser, time)"></td>
            </tr>
        </tbody>

        <tbody *ngIf="canAddYourself">
            <tr>
                <td class="pointer text-center" (click)="addYourself()"
                    colspan="100%">Add yourself</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>Capacity: </td>
                <td *ngFor="let time of event.eventTimes" class="text-center">
                    {{ time.getAttendanceCount() + " / " + time.capacity }}
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<button class="btn btn-success mt-3" (click)="save()" i18n>Save</button>